body {
  background: peru;
}

.contenedor {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  background: #273b47;
  color: white;
  align-items: center; /*alinea los items vesticalmente*/
}

.portada {
  display: flex;
}

.col1 {
  width: 70%;
}

.col2 {

  width: 30%;
  position: relative;
  top: 0;
  transition: .5s;
}
.logo {
  width: 40%;
}
.menu, .banner {
  width: 30%;
}

.banner {
  background: lightgrey;
  color: black;
  position: relative;
  left: 0;
  top: 0;
  transition: .5s;
  height: 50px;
}

/*media query*/
@media screen and (max-width:768px){
  .banner {
    left: 30%;
    top: 50px;

  }

  .col2 {
    top: 50px;
  }
}
