body {
  background: peru;
}

.contenedor {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  background: #273b47;
  color: white;
  align-items: center; /*alinea los items vesticalmente*/
}

.portada {
  display: flex;
}

.col1 {
  width: 70%;
}

.col2 {
  width: 30%;
}
.logo {
  width: 40%;
}
.menu, .banner {
  width: 30%;
}

.banner {
  position: relative;
  left: 0;
  top: 0;
  transition: .5s;

}

/*media query*/
@media screen and (max-width:768px){
  .banner {
    left: 30%;
    top: 100px;

  }
}
