/*body {
  background: peru;
}*/

.contenedor {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  background: #273b47;
  color: white;
  align-items: center; /*alinea los items vesticalmente*/
  position: relative;
  height: 50px;

}

.portada {
  display: flex;
}
header > *,
.portada > * {
  border: 1px solid red;
}

.col1 {
  transition: .5s;
  width: 70%;
  position: relative;
  top: 0;
  background: orange;
}

.col2 {
  transition: .5s;
  width: 30%;
  position: relative;
  top: 0;

}
.logo {
  width: 40%;
}
.menu, .banner {
  width: 30%;
}

.menu {
  position: absolute;
  left: 70%;
  transition: .5s;
  height: 50px;
  top: 0;
  background: purple;


}
.banner {
  background: lightgrey;
  color: black;
  position: absolute;
  left: 40%;
  top: 0;
  transition: .5s;
  height: 50px;
}

/*media query*/
@media screen and (max-width:768px){
  .banner {
    left: 70%;
    top: 50px;

  }

  .col2 {
    top: 50px;
  }
}

/*a pantallas menores a 480px*/
@media screen and (max-width:600px){
  .menu {
    top: 50px;
    left: 0;
    width: 70%;
  }

  .col1 {
    top: 50px;
  }
}

/*media query para pantallas mas pequeñas*/
@media screen and (max-width:480px){
  .col1 {
    top: 100px;
    width: 100%;
    }
  .banner {
    left: 0;
    top: 100px;
    width: 100%;
  }
  .portada{
    display: block;
  }
  .col2{
    width: 100%;
    margin-top: 50px;

  }
  .menu {
    width: 100%;
  }

}
